<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
  <head>
    <meta charset = "UTF-8" />
    <meta http-equiv = "Content-Type" content = "text/html; charset=utf-8" />
    <title>Login</title>
  </head>
  <body>
<div style = "width: 100%; height: 100%; background-color: #ccc;">
  <webobject name = "content">
  </webobject>

<h2>Login</h2>

  <webobject name = "loginForm">
    Benutzername: 
    <webobject name = "benutzername" />
    <br>
    Passwort: 
    <webobject name = "passwort" />
    <br>
    
    <webobject name = "anmeldenSubmit" />
    <br>
  </webobject>
<webobject name = "form">
<p><webobject name = "first"></webobject></p>
<p><webobject name = "last"></webobject></p>
<p><webobject name = "queryDb"></webobject></p>
</webobject>
<ul>
<webobject name = "list">
<li><webobject name = "nameFirst"/> <webobject name = "nameLast"/></li>
</webobject>
</ul>
</div>
  </body>
</html>